.cabeçalho_menu-hamburger{
    background-image: url(../imagens/Menu.svg.png);
    width:24px
    height:24px    
    background
    display: inline-block
}
    background-color: var(--branco);
    .div-1{ 
        display: flex;
        align-items: center;
}
.cabeçalho_menu-hamburger{
        background-repeat: no-repeat;
        background-position: center; 
    }
    .cabeçalho{
        background
        display: flex;
        justify-content:space-betwen;
    }
     h1{
        display: none;
    
     }
     @media screen and (min-width)
        
     }
