@import url(../header.css);

:root {
    --cor-de-fundo: #ebecee;
    --branco: #FFFFFF;
    --font-principal: "Poppins";
    --amarelo: #FECD2F;
    
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}
h1{
    background-color: white;
}